## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
# example of correlation feature selection for numerical data
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import mutual_info_regression
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBRegressor
from xgboost import plot_importance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import shap
import keras
import tensorflow as tf
from keras.preprocessing.sequence import TimeseriesGenerator

### Converting CSV File into a DataFrame

In [2]:
df = pd.read_csv("final_dataset.csv")
df.head()

,Price,Optimal_hr,Airline,Cabin,Dept_city,Dept_date,Dept_month,arrival_city,stops,layover_cities,Departure_Date,Arrival_Date,duration,weekday,day_name,dept_hours,arrival_hours,Dept_flights_time,arrival_flights_time
0,6159,5,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 09:30,20-04-2021 11:40,130.0,1,Tuesday,9,11,Morning_flight,Afternoon_flight
1,6159,11,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 15:30,20-04-2021 17:40,130.0,1,Tuesday,15,17,Afternoon_flight,Evening_flight
2,6159,12,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 16:55,20-04-2021 19:05,130.0,1,Tuesday,16,19,Evening_flight,Evening_flight
3,6159,8,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 12:45,20-04-2021 15:00,135.0,1,Tuesday,12,15,Afternoon_flight,Afternoon_flight
4,6159,13,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 17:45,20-04-2021 20:05,140.0,1,Tuesday,17,20,Evening_flight,Evening_flight

In [3]:
df.shape

(315985, 19)

#### Calculating No.of Airlines Used/Switched because as per the Data Airline column contains "," separator and after that adding a column to our DataFrame.

In [4]:
no_of_airlines = [] 
for i in range(df.shape[0]):
    if "," in df["Airline"].iloc[i]:
        no_of_airlines.append(2)
        
    else:
        no_of_airlines.append(1)
print(len(no_of_airlines))

315985

In [5]:
df["No_of_Airlines_used"] = no_of_airlines
print(df.head())

   Price  Optimal_hr  Airline Cabin  Dept_city  Dept_date Dept_month  \
0   6159           5  Vistara    PE  New Delhi         20        Apr
1   6159          11  Vistara    PE  New Delhi         20        Apr
2   6159          12  Vistara    PE  New Delhi         20        Apr
3   6159           8  Vistara    PE  New Delhi         20        Apr
4   6159          13  Vistara    PE  New Delhi         20        Apr

  arrival_city  stops layover_cities    Departure_Date      Arrival_Date  \
0      Mumbai       0       No Stops  20-04-2021 09:30  20-04-2021 11:40
1      Mumbai       0       No Stops  20-04-2021 15:30  20-04-2021 17:40
2      Mumbai       0       No Stops  20-04-2021 16:55  20-04-2021 19:05
3      Mumbai       0       No Stops  20-04-2021 12:45  20-04-2021 15:00
4      Mumbai       0       No Stops  20-04-2021 17:45  20-04-2021 20:05

   duration  weekday day_name  dept_hours  arrival_hours Dept_flights_time  \
0     130.0        1  Tuesday           9             11    Morning_flight
1     130.0        1  Tuesday          15             17  Afternoon_flight
2     130.0        1  Tuesday          16             19    Evening_flight
3     135.0        1  Tuesday          12             15  Afternoon_flight
4     140.0        1  Tuesday          17             20    Evening_flight

  arrival_flights_time  No_of_Airlines_used
0     Afternoon_flight                    1
1       Evening_flight                    1
2       Evening_flight                    1
3     Afternoon_flight                    1
4       Evening_flight                    1

In [6]:
df["No_of_Airlines_used"].describe()

count    315985.000000
mean          1.088039
std           0.283352
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           2.000000
Name: No_of_Airlines_used, dtype: float64

##### If Airline column contains"," as separator then splitting that Airline column otherwise marking a row as "No connecting Flights". Added new column to DataFrame "No connecting Airline".

In [7]:
Airline=[]
connecting_flight_Airline=[]
for i in df["Airline"]:
    if "," in i:
        connecting_flight_Airline.append(i.split(",")[1])
        Airline.append(i.split(",")[0])
    else:
        Airline.append(i)
        connecting_flight_Airline.append("No connecting airline")

df["Airline"]=Airline
df["connecting_flight_Airline"]=connecting_flight_Airline

In [8]:
df.isnull().sum()

Price                        0
Optimal_hr                   0
Airline                      0
Cabin                        0
Dept_city                    0
Dept_date                    0
Dept_month                   0
arrival_city                 0
stops                        0
layover_cities               0
Departure_Date               0
Arrival_Date                 0
duration                     0
weekday                      0
day_name                     0
dept_hours                   0
arrival_hours                0
Dept_flights_time            0
arrival_flights_time         0
No_of_Airlines_used          0
connecting_flight_Airline    0
dtype: int64

In [9]:
df.columns

Index(['Price', 'Optimal_hr', 'Airline', 'Cabin', 'Dept_city', 'Dept_date',
       'Dept_month', 'arrival_city', 'stops', 'layover_cities',
       'Departure_Date', 'Arrival_Date', 'duration', 'weekday', 'day_name',
       'dept_hours', 'arrival_hours', 'Dept_flights_time',
       'arrival_flights_time', 'No_of_Airlines_used',
       'connecting_flight_Airline'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315985 entries, 0 to 315984
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Price                      315985 non-null  int64
 1   Optimal_hr                 315985 non-null  int64
 2   Airline                    315985 non-null  object
 3   Cabin                      315985 non-null  object
 4   Dept_city                  315985 non-null  object
 5   Dept_date                  315985 non-null  int64
 6   Dept_month                 315985 non-null  object
 7   arrival_city               315985 non-null  object
 8   stops                      315985 non-null  int64
 9   layover_cities             315985 non-null  object
 10  Departure_Date             315985 non-null  object
 11  Arrival_Date               315985 non-null  object
 12  duration                   315985 non-null  float64
 13  weekday                    315985 non-null  int64
 14  day_name                   315985 non-null  object
 15  dept_hours                 315985 non-null  int64
 16  arrival_hours              315985 non-null  int64
 17  Dept_flights_time          315985 non-null  object
 18  arrival_flights_time       315985 non-null  object
 19  No_of_Airlines_used        315985 non-null  int64
 20  connecting_flight_Airline  315985 non-null  object
dtypes: float64(1), int64(8), object(12)
memory usage: 50.6+ MB

#### Dropping Out unnecessary columns from the DataFrame.

In [11]:
df.drop(columns=["Dept_city","arrival_city","layover_cities","Departure_Date","Arrival_Date","day_name","arrival_hours","arrival_flights_time"],inplace=True,axis=1)

#### Calculating Biserial Correlation Coefficient wrt Price Column

In [12]:
for i in df.columns:
    if df[i].dtype == "int64":
        key = i
        value = df[i].corr(df['Price'])
        print(f"Keys: {i} Correlation Coefficient: {value}")

Keys: Price Correlation Coefficient: 1.0
Keys: Optimal_hr Correlation Coefficient: 0.08628230746692485
Keys: Dept_date Correlation Coefficient: -0.05808091302141167
Keys: stops Correlation Coefficient: 0.47495671897779745
Keys: weekday Correlation Coefficient: 0.01812522078971293
Keys: dept_hours Correlation Coefficient: 0.09250031969200241
Keys: No_of_Airlines_used Correlation Coefficient: -0.013970558298925977

In [13]:
#Point Biserial Correlation
print(df.corr())

                        Price  Optimal_hr  Dept_date     stops  duration  \
Price                1.000000    0.086282  -0.058081  0.474957  0.414052
Optimal_hr           0.086282    1.000000  -0.021046  0.020322  0.206079
Dept_date           -0.058081   -0.021046   1.000000  0.035386  0.042227
stops                0.474957    0.020322   0.035386  1.000000  0.572703
duration             0.414052    0.206079   0.042227  0.572703  1.000000
weekday              0.018125   -0.007519  -0.037174 -0.001342 -0.000330
dept_hours           0.092500    0.849565  -0.001811  0.023995  0.213829
No_of_Airlines_used -0.013971   -0.120842   0.055247  0.244236  0.085970

                      weekday  dept_hours  No_of_Airlines_used
Price                0.018125    0.092500            -0.013971
Optimal_hr          -0.007519    0.849565            -0.120842
Dept_date           -0.037174   -0.001811             0.055247
stops               -0.001342    0.023995             0.244236
duration            -0.000330    0.213829             0.085970
weekday              1.000000   -0.003850             0.014078
dept_hours          -0.003850    1.000000            -0.119145
No_of_Airlines_used  0.014078   -0.119145             1.000000

In [14]:
print("The Data set has {} rows and {} columns\n".format(df.shape[0],df.shape[1]))

The Data set has 315985 rows and 13 columns

In [15]:
#To check NULL values
df.isnull().sum()

Price                        0
Optimal_hr                   0
Airline                      0
Cabin                        0
Dept_date                    0
Dept_month                   0
stops                        0
duration                     0
weekday                      0
dept_hours                   0
Dept_flights_time            0
No_of_Airlines_used          0
connecting_flight_Airline    0
dtype: int64

In [16]:
df["Airline"].value_counts()

IndiGo               132232
Air India             79346
Vistara               51553
Go Air                23114
Spicejet              18162
AirAsia               11455
flybig                   68
TruJet                   52
Air India Express         3
Name: Airline, dtype: int64

#### Making a list for the Row Index values that contains the Unnecessary Airline and dropping those indexes out from the DataFrame.

In [17]:
l1 = []
l1.append(df[df["Airline"] == "flybig"].index)
l1.append(df[df["Airline"] == "TruJet"].index)
l1.append(df[df["Airline"] == "Air India Express"].index)
#print(l1)
l2 = []
for i in l1:
    for j in i:
        l2.append(j)
l2

[90426,
 90427,
 90428,
 90435,
 90501,
 90562,
 91558,
 91559,
 91560,
 91561,
 91563,
 91640,
 91706,
 93849,
 93851,
 93853,
 93854,
 93857,
 93920,
 96099,
 96101,
 96102,
 96105,
 96174,
 97221,
 97222,
 97227,
 97287,
 98287,
 98288,
 98291,
 98357,
 98359,
 98360,
 98430,
 99410,
 99411,
 99490,
 99491,
 99493,
 99562,
 101650,
 101652,
 101655,
 101656,
 103732,
 103734,
 103735,
 103738,
 103806,
 104810,
 104811,
 104814,
 104882,
 105899,
 105900,
 105968,
 141533,
 142909,
 145683,
 148324,
 149782,
 151201,
 152568,
 155283,
 157956,
 159295,
 160823,
 16695,
 16915,
 17476,
 17820,
 18362,
 19742,
 20597,
 21132,
 22263,
 22549,
 23965,
 25087,
 25371,
 26041,
 27439,
 28790,
 29896,
 30164,
 166238,
 166508,
 167596,
 167859,
 167866,
 168952,
 169219,
 169226,
 170587,
 171955,
 173325,
 174432,
 174699,
 174706,
 175806,
 176069,
 176076,
 177164,
 177427,
 177434,
 178563,
 178840,
 178847,
 180260,
 181668,
 183068,
 184215,
 184493,
 184500,
 185643,
 185923,
 187051,
 187324,
 187331,
 151338,
 154005,
 160970]

In [18]:
df.drop(l2, inplace=True)

In [19]:
df["Airline"].value_counts()

IndiGo       132232
Air India     79346
Vistara       51553
Go Air        23114
Spicejet      18162
AirAsia       11455
Name: Airline, dtype: int64

In [20]:
df["No_of_Airlines_used"].describe()

count    315862.000000
mean          1.087924
std           0.283185
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           2.000000
Name: No_of_Airlines_used, dtype: float64

#### Using OneHotEncoding to transform the data of certain columns.

In [21]:
le1 = OneHotEncoder()
airline_arr = le1.fit_transform(df[["Airline"]]).toarray()
print(airline_arr.shape)

(315862, 6)

In [22]:
df["Airline"].value_counts()

IndiGo       132232
Air India     79346
Vistara       51553
Go Air        23114
Spicejet      18162
AirAsia       11455
Name: Airline, dtype: int64

In [23]:
airl_indigo = airline_arr[:, 0]
airl_air_india = airline_arr[:, 1]
airl_air_vistara = airline_arr[:, 2]
airl_go_air = airline_arr[:, 3]
airl_spicejet = airline_arr[:, 4]
airl_airasia = airline_arr[:, 5]

In [24]:
print(airl_indigo[0])
print(airl_air_india[0])
print(airl_air_vistara[0])
print(airl_go_air[0])
print(airl_spicejet[0])
print(airl_airasia[0])

0.0
0.0
0.0
0.0
0.0
1.0

In [25]:
data = pd.DataFrame(airl_indigo,columns=["Airline Indigo"])
data["Airline Air India"] = airl_air_india
data["Airline Air Vistara"] = airl_air_vistara
data["Airline Go Air"] = airl_go_air
data["Airline Spicejet"] = airl_spicejet
data["Airline AirAsia"] = airl_airasia

In [26]:
data

,Airline Indigo,Airline Air India,Airline Air Vistara,Airline Go Air,Airline Spicejet,Airline AirAsia
0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...
315857,0.0,0.0,0.0,0.0,0.0,1.0
315858,0.0,0.0,0.0,0.0,0.0,1.0
315859,0.0,0.0,0.0,0.0,0.0,1.0
315860,0.0,0.0,0.0,0.0,0.0,1.0
315861,0.0,0.0,0.0,0.0,0.0,1.0

In [27]:
cabin_arr = le1.fit_transform(df[["Cabin"]]).toarray()
print(cabin_arr.shape)

(315862, 3)

In [28]:
df["Cabin"].value_counts()

E     185866
B     113127
PE     16869
Name: Cabin, dtype: int64

In [29]:
cabin_e = cabin_arr[:, 0]
cabin_b = cabin_arr[:, 1]
cabin_pe = cabin_arr[:, 2]

data["Cabin Economy"] = cabin_e
data["Cabin Business"] = cabin_b
data["Cabin Premium Economy"] = cabin_pe

In [30]:
dept_month_arr = le1.fit_transform(df[["Dept_month"]]).toarray()
print(dept_month_arr.shape)

(315862, 2)

In [31]:
df["Dept_month"].value_counts()

Apr    165575
May    150287
Name: Dept_month, dtype: int64

In [32]:
dept_month_april = dept_month_arr[:, 0]
dept_month_may = dept_month_arr[:, 1]

data["Dept Month April"] = dept_month_april
data["Dept Month May"] = dept_month_may

In [33]:
dept_flights_time_arr = le1.fit_transform(df[["Dept_flights_time"]]).toarray()
print(dept_flights_time_arr.shape)

(315862, 4)

In [34]:
df["Dept_flights_time"].value_counts()

Morning_flight      124439
Afternoon_flight     91156
Evening_flight       69212
Night_flight         31055
Name: Dept_flights_time, dtype: int64

In [35]:
Dept_Morning_Flight = dept_flights_time_arr[:, 0]
Dept_Afternoon_Flight = dept_flights_time_arr[:, 1]
Dept_Evening_Flight = dept_flights_time_arr[:, 2]
Dept_Night_Flight = dept_flights_time_arr[:, 3]

data["Dept_Morning_Flight"] = Dept_Morning_Flight
data["Dept_Afternoon_Flight"] = Dept_Afternoon_Flight
data["Dept_Evening_Flight"] = Dept_Evening_Flight
data["Dept_Night_Flight"] = Dept_Night_Flight

In [36]:
connecting_flight_Airline_arr = le1.fit_transform(df[["connecting_flight_Airline"]]).toarray()
print(connecting_flight_Airline_arr.shape)

(315862, 8)

In [37]:
df["connecting_flight_Airline"].value_counts()

No connecting airline    288090
 IndiGo                   11062
 Air India                 5696
 Vistara                   3626
 Go Air                    3543
 Spicejet                  1973
 AirAsia                   1866
 Air India Express            6
Name: connecting_flight_Airline, dtype: int64

In [38]:
No_connecting_airline = connecting_flight_Airline_arr[:, 0]
Indigo = connecting_flight_Airline_arr[:, 1]
Air_India = connecting_flight_Airline_arr[:, 2]
Vistara = connecting_flight_Airline_arr[:, 3]
Go_Air = connecting_flight_Airline_arr[:, 4]
Spicejet = connecting_flight_Airline_arr[:, 5]
AirAsia = connecting_flight_Airline_arr[:, 6]
Air_India_Express = connecting_flight_Airline_arr[:, 7]

data["No Connecting airline"] = No_connecting_airline
data["Connecting Indigo"] = Indigo
data["Connecting Air India"] = Air_India
data["Connecting Vistara"] = Vistara
data["Connecting Go Air"] = Go_Air
data["Connecting Spicejet"] = Spicejet
data["Connecting AirAsia"] = AirAsia
data["Air India Express"] = Air_India_Express

In [39]:
data

,Airline Indigo,Airline Air India,Airline Air Vistara,Airline Go Air,Airline Spicejet,Airline AirAsia,Cabin Economy,Cabin Business,Cabin Premium Economy,Dept Month April,...,Dept_Evening_Flight,Dept_Night_Flight,No Connecting airline,Connecting Indigo,Connecting Air India,Connecting Vistara,Connecting Go Air,Connecting Spicejet,Connecting AirAsia,Air India Express
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315857,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
315858,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
315859,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
315860,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
315861,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

#### Appending the "Data Dataframe" to main DataFrame.

In [40]:
df1 = pd.concat([df, data], axis = 1, join = "inner")
print(df1.shape)

(315739, 36)

In [41]:
df1.head()

,Price,Optimal_hr,Airline,Cabin,Dept_date,Dept_month,stops,duration,weekday,dept_hours,...,Dept_Evening_Flight,Dept_Night_Flight,No Connecting airline,Connecting Indigo,Connecting Air India,Connecting Vistara,Connecting Go Air,Connecting Spicejet,Connecting AirAsia,Air India Express
0,6159,5,Vistara,PE,20,Apr,0,130.0,1,9,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,6159,11,Vistara,PE,20,Apr,0,130.0,1,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,6159,12,Vistara,PE,20,Apr,0,130.0,1,16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,6159,8,Vistara,PE,20,Apr,0,135.0,1,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,6159,13,Vistara,PE,20,Apr,0,140.0,1,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [42]:
df1.drop(columns = ["Airline", "Cabin", "Dept_month", "Dept_flights_time", "connecting_flight_Airline"], axis = 1, inplace = True)

In [43]:
df1.shape

(315739, 31)

In [44]:
df1.isnull().sum()

Price                    0
Optimal_hr               0
Dept_date                0
stops                    0
duration                 0
weekday                  0
dept_hours               0
No_of_Airlines_used      0
Airline Indigo           0
Airline Air India        0
Airline Air Vistara      0
Airline Go Air           0
Airline Spicejet         0
Airline AirAsia          0
Cabin Economy            0
Cabin Business           0
Cabin Premium Economy    0
Dept Month April         0
Dept Month May           0
Dept_Morning_Flight      0
Dept_Afternoon_Flight    0
Dept_Evening_Flight      0
Dept_Night_Flight        0
No Connecting airline    0
Connecting Indigo        0
Connecting Air India     0
Connecting Vistara       0
Connecting Go Air        0
Connecting Spicejet      0
Connecting AirAsia       0
Air India Express        0
dtype: int64

In [45]:
df1["stops"]

0         0
1         0
2         0
3         0
4         0
         ..
315857    1
315858    1
315859    1
315860    1
315861    1
Name: stops, Length: 315739, dtype: int64

In [46]:
df1.isnull().sum()

Price                    0
Optimal_hr               0
Dept_date                0
stops                    0
duration                 0
weekday                  0
dept_hours               0
No_of_Airlines_used      0
Airline Indigo           0
Airline Air India        0
Airline Air Vistara      0
Airline Go Air           0
Airline Spicejet         0
Airline AirAsia          0
Cabin Economy            0
Cabin Business           0
Cabin Premium Economy    0
Dept Month April         0
Dept Month May           0
Dept_Morning_Flight      0
Dept_Afternoon_Flight    0
Dept_Evening_Flight      0
Dept_Night_Flight        0
No Connecting airline    0
Connecting Indigo        0
Connecting Air India     0
Connecting Vistara       0
Connecting Go Air        0
Connecting Spicejet      0
Connecting AirAsia       0
Air India Express        0
dtype: int64

In [47]:
df1.columns

Index(['Price', 'Optimal_hr', 'Dept_date', 'stops', 'duration', 'weekday',
       'dept_hours', 'No_of_Airlines_used', 'Airline Indigo',
       'Airline Air India', 'Airline Air Vistara', 'Airline Go Air',
       'Airline Spicejet', 'Airline AirAsia', 'Cabin Economy',
       'Cabin Business', 'Cabin Premium Economy', 'Dept Month April',
       'Dept Month May', 'Dept_Morning_Flight', 'Dept_Afternoon_Flight',
       'Dept_Evening_Flight', 'Dept_Night_Flight', 'No Connecting airline',
       'Connecting Indigo', 'Connecting Air India', 'Connecting Vistara',
       'Connecting Go Air', 'Connecting Spicejet', 'Connecting AirAsia',
       'Air India Express'],
      dtype='object')

In [48]:
df1.drop(columns = ['Airline Indigo', 'weekday',
       'Airline Air India', 'Airline Air Vistara', 'Airline Go Air',
       'Airline Spicejet', 'Airline AirAsia', 'Cabin Economy',
       'Cabin Business', 'Cabin Premium Economy', 'Dept Month April',
       'Dept Month May', 'Dept_Morning_Flight', 'Dept_Afternoon_Flight',
       'Dept_Evening_Flight', 'Dept_Night_Flight', 'No Connecting airline',
       'Connecting Indigo', 'Connecting Air India', 'Connecting Vistara',
       'Connecting Go Air', 'Connecting Spicejet', 'Connecting AirAsia',
       'Air India Express'], inplace = True)

In [49]:
df1.isnull().sum()

Price                  0
Optimal_hr             0
Dept_date              0
stops                  0
duration               0
dept_hours             0
No_of_Airlines_used    0
dtype: int64

In [71]:
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(df1)

In [75]:
X = data_scaled[:, 1:]
y = data_scaled[:, 0]

In [76]:
print(X.shape)
print(y.shape)

(315739, 6)
(315739,)

In [ ]:
X.query("Optimal_hr > 18") #query runs on DataFrame.

In [89]:
t = TimeseriesGenerator(X, y, length = X[0].all(), batch_size = 128)
print(t)

<tensorflow.python.keras.preprocessing.sequence.TimeseriesGenerator object at 0x000001FBAFB53E50>

In [90]:
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 123, shuffle = False)

In [91]:
print(f"Training Shape: {X_train.shape}")
print(f"Testing Shape: {X_test.shape}")
print(f"Price Training Shape: {y_train.shape}")
print(f"Price Testing Shape: {y_test.shape}")

Training Shape: (252591, 6)
Testing Shape: (63148, 6)
Price Training Shape: (252591,)
Price Testing Shape: (63148,)

In [96]:
win_length = 720
batch_size = 32
num_features = 6

In [97]:
train_generator = TimeseriesGenerator(X_train, y_train, length = win_length, sampling_rate = 1, batch_size = batch_size)
test_generator = TimeseriesGenerator(X_test, y_test, length = win_length, sampling_rate = 1, batch_size = batch_size)

In [98]:
train_generator[0]

(array([[[0.2173913 , 0.65517241, 0.        , 0.09059233, 0.39130435,
          0.        ],
         [0.47826087, 0.65517241, 0.        , 0.09059233, 0.65217391,
          0.        ],
         [0.52173913, 0.65517241, 0.        , 0.09059233, 0.69565217,
          0.        ],
         ...,
         [0.39130435, 0.72413793, 0.        , 0.07665505, 0.56521739,
          0.        ],
         [0.2173913 , 0.72413793, 0.        , 0.09059233, 0.39130435,
          0.        ],
         [0.2173913 , 0.72413793, 0.16666667, 0.2543554 , 0.39130435,
          0.        ]],

        [[0.47826087, 0.65517241, 0.        , 0.09059233, 0.65217391,
          0.        ],
         [0.52173913, 0.65517241, 0.        , 0.09059233, 0.69565217,
          0.        ],
         [0.34782609, 0.65517241, 0.        , 0.09407666, 0.52173913,
          0.        ],
         ...,
         [0.2173913 , 0.72413793, 0.        , 0.09059233, 0.39130435,
          0.        ],
         [0.2173913 , 0.72413793, 0.16666667, 0.2543554 , 0.39130435,
          0.        ],
         [0.39130435, 0.72413793, 0.        , 0.05923345, 0.56521739,
          0.        ]],

        [[0.52173913, 0.65517241, 0.        , 0.09059233, 0.69565217,
          0.        ],
         [0.34782609, 0.65517241, 0.        , 0.09407666, 0.52173913,
          0.        ],
         [0.56521739, 0.65517241, 0.        , 0.09756098, 0.73913043,
          0.        ],
         ...,
         [0.2173913 , 0.72413793, 0.16666667, 0.2543554 , 0.39130435,
          0.        ],
         [0.39130435, 0.72413793, 0.        , 0.05923345, 0.56521739,
          0.        ],
         [0.56521739, 0.72413793, 0.16666667, 0.91289199, 0.73913043,
          0.        ]],

        ...,

        [[0.60869565, 0.65517241, 0.        , 0.09059233, 0.7826087 ,
          0.        ],
         [0.04347826, 0.65517241, 0.        , 0.10801394, 0.2173913 ,
          0.        ],
         [0.2173913 , 0.65517241, 0.16666667, 0.20557491, 0.39130435,
          0.        ],
         ...,
         [0.65217391, 0.72413793, 0.16666667, 0.56097561, 0.82608696,
          0.        ],
         [0.73913043, 0.72413793, 0.16666667, 0.43205575, 0.91304348,
          0.        ],
         [0.69565217, 0.72413793, 0.16666667, 0.48083624, 0.86956522,
          0.        ]],

        [[0.04347826, 0.65517241, 0.        , 0.10801394, 0.2173913 ,
          0.        ],
         [0.2173913 , 0.65517241, 0.16666667, 0.20557491, 0.39130435,
          0.        ],
         [0.04347826, 0.65517241, 0.        , 0.13240418, 0.2173913 ,
          0.        ],
         ...,
         [0.73913043, 0.72413793, 0.16666667, 0.43205575, 0.91304348,
          0.        ],
         [0.69565217, 0.72413793, 0.16666667, 0.48083624, 0.86956522,
          0.        ],
         [0.52173913, 0.72413793, 0.16666667, 0.64808362, 0.69565217,
          0.        ]],

        [[0.2173913 , 0.65517241, 0.16666667, 0.20557491, 0.39130435,
          0.        ],
         [0.04347826, 0.65517241, 0.        , 0.13240418, 0.2173913 ,
          0.        ],
         [0.47826087, 0.65517241, 0.        , 0.13240418, 0.65217391,
          0.        ],
         ...,
         [0.69565217, 0.72413793, 0.16666667, 0.48083624, 0.86956522,
          0.        ],
         [0.52173913, 0.72413793, 0.16666667, 0.64808362, 0.69565217,
          0.        ],
         [0.08695652, 0.72413793, 0.16666667, 0.21254355, 0.26086957,
          0.        ]]]),
 array([0.08746515, 0.11202025, 0.11202025, 0.11202025, 0.03048705,
        0.02584574, 0.02584574, 0.02199039, 0.02199039, 0.02199039,
        0.02199039, 0.04894474, 0.03094208, 0.03094208, 0.02800506,
        0.01982279, 0.01982279, 0.02279289, 0.01426314, 0.07007471,
        0.07541098, 0.07541098, 0.07541098, 0.07541098, 0.02538243,
        0.06991752, 0.06991752, 0.07267252, 0.07267252, 0.07267252,
        0.06337335, 0.06377874]))

In [101]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.LSTM(128, input_shape = (win_length, num_features), return_sequences = True))
model.add(tf.keras.layers.LeakyReLU(alpha = 0.5))
model.add(tf.keras.layers.LSTM(128, return_sequences = True))
model.add(tf.keras.layers.LeakyReLU(alpha = 0.5))
model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.LSTM(64, return_sequences = False))
model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(1))

In [102]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, 720, 128)          69120
_________________________________________________________________
leaky_re_lu_2 (LeakyReLU)    (None, 720, 128)          0
_________________________________________________________________
lstm_5 (LSTM)                (None, 720, 128)          131584
_________________________________________________________________
leaky_re_lu_3 (LeakyReLU)    (None, 720, 128)          0
_________________________________________________________________
dropout_2 (Dropout)          (None, 720, 128)          0
_________________________________________________________________
lstm_6 (LSTM)                (None, 64)                49408
_________________________________________________________________
dropout_3 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 65
=================================================================
Total params: 250,177
Trainable params: 250,177
Non-trainable params: 0
_________________________________________________________________

In [ ]:
early_stopping = tf.keras.callbacks.EarlyStopping(monitor = 'val_loss', patience = 2, mode = 'min')

model.compile(loss = tf.losses.MeanSquaredError(), optimizer = tf.optimizers.Adam(), metrics = [tf.metrics.MeanAbsoluteError()])

history = model.fit_generator(train_generator, epochs = 50, validation_data = test_generator, shuffle = False, callbacks = [early_stopping])

`Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.

Epoch 1/50
1216/7871 [===>..........................] - ETA: 4:12:52 - loss: 0.0084 - mean_absolute_error: 0.0603

In [ ]:
predictions = model.predict_generator(test_generator)

In [ ]:
predictions.shape[0]

In [70]:
data_scaled

array([[0.2173913 , 0.65517241, 0.        , 0.09059233, 0.39130435,
        0.        ],
       [0.47826087, 0.65517241, 0.        , 0.09059233, 0.65217391,
        0.        ],
       [0.52173913, 0.65517241, 0.        , 0.09059233, 0.69565217,
        0.        ],
       ...,
       [0.60869565, 0.4137931 , 0.16666667, 0.74216028, 0.7826087 ,
        0.        ],
       [0.47826087, 0.4137931 , 0.16666667, 0.18815331, 0.65217391,
        0.        ],
       [0.60869565, 0.4137931 , 0.16666667, 0.62369338, 0.7826087 ,
        0.        ]])

In [ ]:
xgb.feature_importances_

###### From the above plot, we can clearly observe the "features" that plays an important role for our data are:
1. Duration
2. Optimal Hour
3. Departure Date
4. Stops
5. Cabin Economy
6. Departure Hours
7. No. of Airlines Used